.map-responsive {
    overflow: hidden;
    position: relative;
    height: 0;
    padding-bottom: 90%;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    border: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

@media (min-width: 1024px) {
    .map-responsive {
        padding-bottom: 26.25%;
    }
}
